<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
  <% include partials/template/header.ejs %>
    <div class="content">
      <%- include(one) %>
    </div>
  <% include partials/template/footer.ejs %>
</body>
</html>
