<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body class="submit">
  <% include partials/content/submitpage.ejs %>
  <% include partials/template/header.ejs %>
  <% include partials/content/submitwords.ejs %>
  <% include partials/template/footer.ejs %>
</body>
</html>
