<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body class="bodyaccess">
  <% include partials/template/header.ejs %>
    <div class="access">
      <% include partials/content/ttlawords.ejs  %>
    </div>
      <% include partials/template/footer.ejs %>
<p id="credit">Photo: Scott Shaw</p>
</body>
</html>
