<footer>
	<div class="foot">
		<center><a target="_blank" href="/terms">Terms & Conditions</a> | <a target="_blank" href="/privacy">Privacy Policy</a> | &copy; 2016 AmeriSHOWZ</center>
	</div>
</footer>
