body {
	background-color: blue;
	width: 100%;
	min-width: 800px;
}

body.submit {
	background-color: black;
	width: 100%;
	min-width: 800px;
}

.content {
	margin-left: 20px;
	margin-right: 20px;
}

.nav {
	border-radius:25px;
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
	font:14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	overflow: hidden;
	background-color: orange;
}

.nav_submit {
	border-radius:25px;
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
	font:14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	overflow: hidden;
	background-color: white;
}

#nav_right{
	float: right;
	border: none;
}

#nav_right:last-child{
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
}

.active
{
	color: orange;
	background-color: midnightblue;
}

.active_submit
{
	background-color: white;
}

.nav li, .nav_submit li {
	border-right: 1px solid #bbb;
	float: left;
}

.nav li:nth-child(6) a {
	color: black;
	background-color: white;
}

#house {
	display: block;
	height: 16px;
}

#house_submit {
	height: 34px;
}

.nav li a img:hover{
	background-color: midnightblue;
}
.nav_submit li a img:hover{
	background-color: black;
}

.nav li a {
	display: block;
	color: blue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav_submit li:first-child a{
	display: block;
	color: black;
	text-align: center;
	padding: 5px 10px 2px 10px;
	text-decoration: none;
}

.nav_submit li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


.nav li a:hover {
	color: orange;
	background-color: midnightblue;
}

.nav_submit li a:hover {
	color: white;
	background-color: black;
}

.banner {
	background-color: white;
	padding: 25px 25px 25px 25px;
	border-radius:25px;
	margin-bottom: 10px;
	margin-top: 30px;
	margin-left:20px;
	margin-right:20px;
}


.foot {
	clear: both;
	color: blue;
	border-radius:25px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;
	font: 14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
}

.foot_submit {
	clear: both;
	color: black;
	border-radius:25px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 10px 10px 10px;
	font: 14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: white;
}

#mc_embed_signup{
	background: orange;
	color: blue;
	font: 14px 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	width: 42%;
	border-radius:25px;
	float: right;
	padding: 2% 6% 2% 2%;
}

#company_info {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
	width: 44%;
	margin-top: 30px;
}

#contact {
	color: blue;
	text-align: center;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	width: 490px;
	margin-top: 30px;
}

#opps_info {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
	width: 42%;
	float: right;
}

#opps_pic{
	background: orange;
	margin-top: 30px;
	width: 46%;
	border-radius:25px;
	padding: 2% 2% 2% 2%;
}

#opps_pic img {
	width: 100%;
	border-radius: 25px;
}

#events_header {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	margin-top: 30px;
}

#ev_intro {
	margin-top: 25px;
	width: 500px;
}

#ev_pic {
	background: orange;
	margin-top: 25px;
	width: 500px;
	border-radius:25px;
	padding: 10px 5px 5px 5px;
	float: right;
}

#ev_pic img{
	width: 490px;
	border-radius: 25px;
}

#ev_upcoming{
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	margin-top: 20px;
}

.ev_up_list {
	margin-top: 25px;
	width: 48%;
	float: left;
	margin-bottom: 25px;
}

.ev_up_list img {
	border-radius: 25px;
	vertical-align: middle;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.ev_up_words {
	margin-top: 111px;
	margin-bottom: 10px;
	padding: 25px 25px 25px 25px;
	overflow: scroll;
	width: 44%;
	border-style: inset;
	border-collapse: blue;
	float: right;
}

hr {
	clear: both;
}

#log_main{
	text-align: center;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: red;
	overflow: scroll;
	width: 800px;
	margin-top: 30px;
	padding: 25px 25px 25px 25px;
}

.succ_pic_r {
	background: orange;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin-top: 75px;
	float: right;
}

.succ_pic_r img {
	vertical-align: middle;
	width: 300px;
	border-radius: 50%;
	padding: 25px 25px 25px 25px;
}

.succ_bio_l {
	color: blue;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	width: 475px;
	border-radius: 25px;
	padding: 25px 25px 25px 25px;
	margin-top: 25px;
}


.succ_pic_l {
	background: orange;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin-top: 75px;
	margin-left: 88px;
}

.succ_pic_l img {
	vertical-align: middle;
	width: 300px;
	border-radius: 50%;
	padding: 25px 25px 25px 25px;
}

.succ_bio_r {
	color: blue;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	width: 475px;
	border-radius: 25px;
	padding: 25px 25px 25px 25px;
	margin-top: 25px;
	text-align:right;
	float: right;
}

.wrapper {
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}


#succ_intro, #circ, #news {
	color: blue;
	text-align: left;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	background-color: orange;
	border-radius:25px;
	padding: 2% 2% 2% 2%;
	overflow: scroll;
	width: 94%;
	margin-top: 30px;
}
