<div id="company_info">
			AmeriSHOWZ is one of the world’s largest direct performance selling businesses.
			Founded in 2010 and headquartered in Brooklyn, NY, USA, AmeriSHOWZ offers performances and workshop opportunities in more than 70 countries and territories worldwide.
			The company also provides professional development, show creation and audience retention services through its partnership divisions.
			In its most recent fiscal year, the AmeriSHOWZ family of companies reported annual sales of $7.5 billion.
</div>
