<div id="company_info">
		<center>Did you miss our big event? Don't fret you can get all of the information you need online!</br>
		<font style="color: red;">Watch our information session below!<font></center>
</div>
<div id="company_info">
	<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/276099733?color=fd730a&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>
<div id="company_info">
<center>Want to see what happens next? Head on over to <a href="/submit">SUBMIT&trade;</a>!</center>
</div>
