<div id="succ_intro">
  <center><font size="5">The Next Success Story Could Be Yours</font></center>
  <p></p>
  At AmeriSHOWZ, Independent Box Offices (IBOs) have found success offering the people they know more options on the classes, workshops and performances they already need and attend every day. Anyone with the drive and dedication can be successful with AmeriSHOWZ, and the first step is deciding to give something new a try.
  <p></p>
  The best-of-the-best in AmeriSHOWZ, those who have dedicated the time and effort it takes to reach the pinnacle of success in our company, are referred to as the Circle of Champions. This group consists of the top producers and content providers at AmeriSHOWZ. They are selected on an annual basis, at the beginning of each year.
</div>
<div id="circ">
  <center><font size="6">2016 Circle of Champions</font></center>
</div>
