<div class="wrapper">
<% champions.forEach(function(item) { %>
<div class="succ_pic_r">
  <img src="<%= item.propic %>">
</div>
<div class="succ_bio_l">
  <%- item.testie %>
  <font size="4"><%= item.name %>, CIRCLE OF CHAMPIONS MEMBER, <%=item.role %>.</font>
</div>
  <div style="clear: both;"></div>
<% }); %>
</div>
<div id="succ_intro">
  <center><a href="../../../images/fullcredits.png" target="_blank">Click here to see more of the people who have helped make AmeriSHOWZ a success!</a></center>
</div>
