<div id="opps_info">
  <center><font size="5">Discover Unlimited Potential with AmeriSHOWZ</font></center>
  <p></p>

  AmeriSHOWZ provides you with opportunity. The opportunity to own a home-based box office with the total support of AmeriSHOWZ behind you every step of the way.
  <p></p>
  At AmeriSHOWZ, Independent Box Offices simply offer the services that people are already using and spending money on every day, including dance, theater and movement classes, workshops, performances and more. So there’s no change in buying habits, and you’ll never have to convince someone to purchase brands they don’t already know and trust.
  <p></p>
  Want to know more? <a href="/training-events">Find a training event near you!</a>
</div>
