<div id="events_header">
  <center><font size="5">AmeriSHOWZ Training Events: Why You Need to Be There</font></center>
  <hr>
  <div id="ev_pic">
    <img src="images/events/events.jpg">
  </div>
  <div id="ev_intro">
    What makes AmeriSHOWZ training events different from anything you’ve ever done before? Come see for yourself!
    <p></p>
    Tens of thousands of people attend these trainings, and they leave excited, inspired, and ready to take their home-based box office opportunity to the next level. With AmeriSHOWZ Training Events occurring regularly, individuals both new and experienced can continue to grow professionally and personally.
    <p></p>
    AmeriSHOWZ Training Events are scheduled on local, regional and international levels and are designed to provide information for anyone interested in learning more about the AmeriSHOWZ business opportunity. Plus these dynamic events offer valuable support and training for AmeriSHOWZ Independent Box Offices.
  </div>
</div>
