<center>
  <div class="submitwords">
<p>We're excited to hear so many people have been asking about AmeriSHOWZ!</p>

<p>Most of you are already familiar with the brands and companies that AmeriSHOWZ partners with to provide our class, workshop and performance products but might not know about the rigorous process each one goes through before they are offered by our company.</p>

<p>Here's a peak at our Product Analysis and Quality Assurance Program: SUBMIT&trade;<p>

  <br>
  <br>
  <p><font size="2">(On a mobile device? <a target="_blank" href="http://www.youtube.com/watch_popup?v=2PzXoxBf8bI&loop=1&playlist=2PzXoxBf8bI?html5=1">Click here</a> to see background video.)
  <br>
  [Video filmed by Gibney Dance's Digital Technology Initiative with lead support from the Scherman Foundation.]</font></p>
</div>
</center>
